/* Outer grid should have full width header and responsive content area */
body {
    background: #f8fa9d;
    display: grid;
    grid-template-columns: 100vw;
    grid-auto-rows: 150px auto;
    grid-template-areas:
    "header"
    "content";
    margin: 0;
}

/* Inner grid should be design with responsive style */
.container {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "feat"
    "main"
    "ft";
    grid-area: content;
}

header {
    grid-area: header;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.footer {
    grid-area: ft;
}

.feature {
    grid-area: feat;
}

.content {
    grid-area: main;
}
