/* header styles */
header {
    background: #fffff8;
    font-size:27px;
    text-align: center;
}

.header {
    background-image: url("../images/sunset.jpg");
    background-size: cover;
    background-position: center center;
    justify-content: flex-end;
}

.header h1 {
    font-size: 100%;
    margin: 0;
}


/* sidebar styles */
.sidebar nav {
    padding: 20px;
}
.sidebar nav ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.sidebar nav h2 {
    font-size: 100%;
    margin: 0;
}

/* content styles */
.content section {
    padding: 20px;
}

.content section h3{
    font-size: 1em;
    margin: 0;
}

.post {
    margin-top: 30px;
}

.post p {
    margin: 0;
}

.post h4 {
    margin: 0;
}

.post a {
    text-decoration: none;
    color: black;
}

.post a:hover {
    text-decoration: underline;
}

time {
    font-size: 0.8em;
}

/* footer styles */
.footer p {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.follow p {
    display: inline;
    margin-right: 10px;
}

.follow img {
    display: inline-block;
    width: 42px;
    margin-right: 10px;
}