body {
    background: #444;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-rows: 150px 600px 300px 150px; */
    grid-template-areas:
    "hd"
    "sd"
    "main"
    "ft";
    border: 2px solid aquamarine;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background: #f8fa9d;
    border: 1px solid red;
}

.header {
    grid-area: hd;
}

.footer {
    grid-area: ft;
}

.sidebar {
    grid-area: sd;
}

.content {
    grid-area: main;
}
